<div class="post-list">
  {{ range where .Paginator.Pages "Params.hidden" "ne" "true" }}
  {{ $url := replace .Permalink .Site.BaseURL "" }}
  {{ if ne $url "about/" }}
  <article>
    <a href='{{ .Permalink }}'>
      <h3>{{ .Title }}</h3>
    </a>
    <aside class="dates">{{ .Date.Format "Monday, Jan 2, 2006" }}</aside>
    {{ if .Site.Params.enableSummary }}
    {{ if .Site.Params.useDescriptionReplaceSummary }}
    <p>{{ .Description | plainify }}</p>
    {{ else }}
    <p>{{ .Summary | plainify | htmlUnescape }}</p>
    {{ end }}
    {{ end }}
  </article>
  {{ end }}
  {{ end }}
</div>
