---

---
<!doctype html>
<html lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-29365557-5"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-29365557-5');
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ metadata.title}}{% if title %} | {{title}}{% endif%}</title>
    <meta name="Description" content="{{ metadata.description }}">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css?family=Public+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/css/app.css">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
  </head>
  <body>
    <div class="container">
      <header>
        <a href="/">
          <h3>Bryan.app</h3>
        </a>
        <nav>
          <a href="/">
            <span>Home</span>
          </a>
          <a href="/about">
            <span>About</span>
          </a>
          <a href="/reading">
            <span>Reading</span>
          </a>
          <a href="/posts/">
            <span>Blog</span>
          </a>
          <a href="/feed/feed.xml">
            <span>RSS</span>
          </a>
        </nav>
      </header>
      <main>
        <div></div>
        <div>
          {{ content | safe }}
        </div>
        <div></div>
      </main>
      <footer>
        <a href="https://twitter.com/bryanjos" target="_blank" rel="me noreferrer noopener">Twitter</a>
        <a href="https://github.com/bryanjos" target="_blank" rel="me noreferrer noopener">GitHub</a>
      </footer>
    <div>
  </body>
</html>
