---

---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bryan.app</title>
    <link href="https://fonts.googleapis.com/css?family=Public+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/css/app.css">
  </head>
  <body>
    <div class="container">
      <header>
        <nav>
          <h3>
            <a href="/">
              Bryan.app
            </a>
          </h3>
        </nav>
      </header>
      <main>
        <div></div>
        <div>
          {% if title %}
            <h3>{{title}}</h3>
          {% endif %}
          {% if date %}
            <time>{{ date | date }}</time>
          {% endif %}
          {{ content | safe }}
        </div>
        <div></div>
      </main>
      <footer>
        <a href="/about">About</a>
        <a href="https://twitter.com/bryanjos" target="_blank" rel="noreferrer noopener">Twitter</a>
        <a href="https://github.com/bryanjos" target="_blank" rel="noreferrer noopener">GitHub</a>
      </footer>
    <div>
  </body>
</html>
