:root {
  --xxxxlarge: 3.052rem;
  --xxxlarge: 2.441rem;
  --xxlarge: 1.953rem;
  --xlarge: 1.563rem;
  --large: 1.25rem;
  --normal: 1rem;
  --small: 0.8rem;
}

html,
body {
  max-width: 1280px;
  height: 100%;
  margin: 0 auto;
  min-height: 100vh;
  padding-left: var(--small);
  padding-right: var(--small);
  background-color: #282c35;
  color: rgb(255, 255, 255);
}

html {
  font-size: 100%;
  font-family: 'Public Sans', sans-serif;
}

@media only screen and (max-width: 400px) {
  html {
    font-size: 80%;
  }
}

.container {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
}

p {
  margin-bottom: var(--normal);
  font-size: var(--normal);
  line-height: 2rem;
}

a {
  color: #b3efff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 400;
  line-height: 1.15;
  color: #b3efff;
}

h1 {
  margin-top: 0;
  font-size: var(--xxxxlarge);
}

h2 {
  font-size: var(--xxxlarge);
}

h3 {
  font-size: var(--xxlarge);
}

h4 {
  font-size: var(--xlarge);
}

h5 {
  font-size: var(--large);
}

small,
.text_small {
  font-size: var(--small);
}

blockquote {
  font-style: italic;
  font-size: var(--small);
  color: #939393;
}

header {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  border-bottom: solid #b3efff55 1px;
}

header>nav {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: left;
}

header>nav * {
  margin-right: var(--small);
}

header>nav *:last-child {
  margin-right: 0;
}

@media only screen and (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  header>nav {
    justify-content: center;
  }
}

main {
  display: grid;
  grid-template-columns: minmax(1.2rem, 1fr) minmax(auto, 80ch) minmax(1.2rem,
      1fr);
}

.post-list-item {
  margin-bottom: var(--xxlarge);
}

h3 {
  margin-bottom: var(--small);
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: var(--small);
  padding-bottom: var(--small);
  border-top: solid #b3efff55 1px;
}

footer a {
  margin-right: var(--large);
}

footer a:last-child {
  margin-right: 0;
}

.h-entry h1 {
  margin-bottom: var(--small);
}

.h-entry .metadata {
  font-size: var(--small);
  font-style: italic;
  color: #00cfff;
  margin-bottom: var(--large);
}

.h-entry .e-content {
  margin-bottom: var(--xxxxlarge);
  margin-top: var(--xxxxlarge);
}

.h-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: var(--xxxxlarge);
  margin-top: var(--xxxxlarge);
}

.h-card .u-photo {
  border-radius: 50%;
  width: 40%;
}

.h-card .hGroup {
  text-align: center;
}

.h-card .p-label {
  margin-top: -2rem;
}

ul {
  list-style: none;
}

li {
  margin-bottom: var(--xlarge);
}
