{{ partial "head.html" . }}

<body>
  {{ partial "header.html"  . }}

  <main>
    <article>
      <header>
        <h2>
          {{ .Title }}
        </h2>
        <h5 class="headline">
          <span class="tags">
            {{ with .Params.tags }}
            {{ if ge (len .) 1 }}
            {{ range . }}
            <a href="{{ $.Site.BaseURL }}tags/{{ . | urlize }}">{{ . }}</a>
            {{ end }}
            {{ end }}
            {{ end}}
          </span>
        </h5>
      </header>
      <section class="post-body">
        {{ .Content }}
      </section>
    </article>

    {{ partial "footer.html" . }}
  </main>

  {{ partial "js.html" . }}
</body>

</html>
