---
layout: layouts/home
---

<section class="h-card">
  <picture>
    <source srcset="/static/images/avatar.webp" type="image/webp">
    <img class="u-photo" src="/static/images/avatar.png" alt="photo of me"/>
  </picture>
  <div class="hGroup">
    <h1 class="p-name">Bryan Joseph</h1>
    <h5 class="p-label">Chaotic Good</h5>
  <div>
</section>

<h2>Latest Posts</h2>

{% set postslist = collections.post | reverse | head(3) %}
{% set postslistCounter = collections.post | length %}
{% include "postslist.njk" %}

<p>More posts can be found <a href="{{ '/posts/' | url }}">here</a>.</p>
