:root {
  --main-bg-color: #111111;
  --main-color: #7FDBFF;
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-color);
}

a,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: var(--main-color);
}

nav.main-nav {
  background: var(--main-bg-color);
  color: var(--main-color);
}

.post h1,
.post h2.headline,
p a,
.archive .post-link,
#post-list .dates,
p.small,
#post-list h2,
#post-list a,
.profile h1,
.archive .post-time {
  color: var(--main-color);
}
