
<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-29365557-5"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-29365557-5');
  </script>
  <title>{{ .Site.Data.settings.name }}</title>
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{ if eq .Site.Params.env "production" }}
    <link rel="stylesheet" href="/assets/all.css">
  {{ end }}
  {{ .Site.Data.settings.faviconMetaTags | safeHTML }}
  {{ if isset .Params "seometatags" }}
    {{ .Params.seometatags | safeHTML }}
  {{ else }}
    {{ .Site.Data.settings.seoMetaTags | safeHTML }}
  {{ end }}
</head>
<body>
  {{partial "nav.html" .}}
